<div class="row">
  <div class="col-lg-4">
    <img
      src="../../../assets/img/persona-soltera.png"
      alt=""
      class="bd-placeholder-img rounded-circle"
      width="155"
      height="140"
    />

    <h2 class="m-2">Maria S.</h2>
    <p>
      Psicologa especialista en Terapia Individual. <br />
      Cordoba
    </p>
    <p><a class="btn btn-primary" href="#">Contactar &raquo;</a></p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img
      src="../../../assets/img/avatar.png"
      alt=""
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
    />

    <h2 class="m-2">Juan.T</h2>
    <p>
      Psicologo especialista en Terapia familar. <br />
      Zona Oeste Buenos Aires
    </p>
    <p><a class="btn btn-primary" href="#">Contactar &raquo;</a></p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img
      src="../../../assets/img/cara-feliz.png"
      alt=""
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
    />

    <h2 class="m-2">Lucas.C</h2>
    <p>
      Psicologo especialista en Terapia de Pareja. <br />
      Zona Norte Buenos Aires
    </p>
    <p><a class="btn btn-primary" href="#">Contactar &raquo;</a></p>
  </div>
  <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
