 <!--- Sobre Repsi -->
 <section id="sobre" class="p-5 bg-primary">
    <div class="container">
        <h2 class="text-center text-white">Sobre TuPsi</h2>
        <p class="lead text-center text-white mb-5">
            En TuPsi somos el puente entre profesional y paciente.
            Por eso, profesionales de todo el país nos eligen para brindarte la mejor atención. Encontrá al
            profesional que buscás y contactate directamente con él/ella a través de nuestro sitio.
        </p>
        <div class="row g-4">
            <div class="col-md col-lg">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3"> Busca Profesionales</h3>
                        <p class="card-text">
                            Una vez que seleccionaste a alguien, podés comunicarte directamente con él o ella
                            (ya que vas a encontrar sus datos de contacto) y coordinar un turno.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md col-lg">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3">Registro Actualizado</h3>
                        <p class="card-text">
                            Todos los y las profesionales de nuestro sitio están matriculados/as.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>