<!-- INICIO -->
<section class="bg-light text-dark p-5 p-lg-5 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>BIENVENID@S<span class="text-primary"> TuPsi </span></h1>
                <p class="lead my-4">
                    Aquí podrás elegir con qué psicólogo o psicóloga quieres ser acompañado/a, nuestros especialistas cuentan
                    con
                    años de experiencia profesional. 
                    <br>Elegí al profesional que te brindará su apoyo y contactate con él o ella.
                </p>
                <button
                class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">
                Contacto
                </button>
            </div>
            <!--poner imagen?-->
            <img class="img-fluid w-50 d-none d-sm-block" src="../../../assets/img/Psy-blue.svg" alt="" />
        </div>
    </div>
</section>