<h1 class="text-center m-lg-3 p-4">Buscar Profesional</h1>

<div class="container">
    <form class="row g-3 mt-3">

        <div class="col-6">
            <label for="inputState" class="form-label text-primary">Tipo de terapia</label>
            <select id="inputState" class="form-select">
              <option selected>Elegir...</option>
              <option>Terapia Familiar</option>
              <option>Terapia de pareja</option>
              <option>Individual</option>
              <option>Consultoría de empresas</option>
              <option>Deportiva</option>
             
            </select>
        </div>
        
        <div class="col-6">
            <label for="inputState" class="form-label text-primary">Provincia</label>
            <select id="inputState" class="form-select">
              <option selected>Elegir...</option>
              <option>Buenos Aires</option>
              <option>Ciudad Autónoma de Buenos Aires</option>
              <option>Catamarca</option>
              <option>Chaco</option>
              <option>Chubut</option>
              <option>Córdoba</option>
              <option>Corrientes</option>
              <option>Entre Ríos</option>
              <option>Formosa</option>
              <option>Jujuy</option>
              <option>La Pampa</option>
              <option>La Rioja</option>
              <option>Mendoza</option>
              <option>Misiones</option>
              <option>Neuquén</option>
              <option>Río Negro</option>
              <option>Salta</option>
              <option>San Juan</option>
              <option>San Luis</option>
              <option>Santa Cruz</option>
              <option>Santa Fe</option>
              <option>Tierra del Fuego, Antártida e Islas del Atlántico Sur</option>
              <option>Tucuman</option>
            </select>
        </div>

        
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
</div>
