.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.wrapper .sidebar {
    height: 90vh;
    min-width: 20%;
    padding: 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .sidebar .sidebar-content {
    width: 100%;
    min-height: 100%;
    padding: 8px 8px;
    border-radius: 16px;
    
}

.wrapper .sidebar .sidebar-content .sidebar-title {
    color: white;
    width: 100%;
    justify-content: center;
    text-align: center;
    border-bottom: solid 1px whitesmoke;
}

.wrapper .sidebar .sidebar-content .sidebar-items {
    margin: 4px auto;
    padding: 8px 4px;
    width: 100%;
    min-height: 80%;
}

.wrapper .sidebar .sidebar-content .sidebar-items .menu-item {
    min-width: 100%;
    height: 48px;
    padding: 4px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0px;
    border-radius: 8px;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.wrapper .sidebar .sidebar-content .sidebar-items .menu-item:hover {
    transform: scale(1.075);
}

.wrapper .sidebar .sidebar-content .sidebar-items .menu-item .icon {
    width: 10%;
    justify-content: center;
}

.wrapper .sidebar .sidebar-content .sidebar-items .menu-item .mi-title {
    min-width: 90%;
    min-height: 100%;
    padding: 0px 16px;
    text-align: start;
    margin: auto 0px;
}

.wrapper .content {
    min-width: 80%;
    max-width: 80%;
    height: calc(90vh - 16px);
    /* padding: 8px 8px; */
    margin: 8px 0px;
    border-radius: 16px;
}
