<h1 class="text-center m-lg-3 p-4">Buscar Profesional</h1>

<div class="container">
  <form class="row g-3 mt-3">
    <div class="col-6">
      <label for="inputState" class="form-label text-primary"
        >Tipo de terapia</label
      >
      <select id="inputState" class="form-select">
        <option selected>Elegir...</option>
        <option>Terapia Familiar</option>
        <option>Terapia de pareja</option>
        <option>Individual</option>
        <option>Consultoría de empresas</option>
        <option>Deportiva</option>
      </select>
    </div>

    <div class="col-6">
      <label for="inputState" class="form-label text-primary">Provincia</label>
      <select id="inputState" class="form-select">
        <option selected>Elegir...</option>
        <option>Buenos Aires</option>
        <option>Ciudad Autónoma de Buenos Aires</option>
        <option>Catamarca</option>
        <option>Chaco</option>
        <option>Chubut</option>
        <option>Córdoba</option>
        <option>Corrientes</option>
        <option>Entre Ríos</option>
        <option>Formosa</option>
        <option>Jujuy</option>
        <option>La Pampa</option>
        <option>La Rioja</option>
        <option>Mendoza</option>
        <option>Misiones</option>
        <option>Neuquén</option>
        <option>Río Negro</option>
        <option>Salta</option>
        <option>San Juan</option>
        <option>San Luis</option>
        <option>Santa Cruz</option>
        <option>Santa Fe</option>
        <option>Tierra del Fuego, Antártida e Islas del Atlántico Sur</option>
        <option>Tucuman</option>
      </select>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-lg-4">
    <img
      src="../../../assets/img/persona-soltera.png"
      alt=""
      class="bd-placeholder-img rounded-circle"
      width="155"
      height="140"
    />

    <h2 class="m-2">Maria S.</h2>
    <p>
      Psicologa especialista en Terapia Individual. <br />
      Cordoba
    </p>
    <p><a class="btn btn-primary" href="#">Contactar &raquo;</a></p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img
      src="../../../assets/img/avatar.png"
      alt=""
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
    />

    <h2 class="m-2">Juan.T</h2>
    <p>
      Psicologo especialista en Terapia familar. <br />
      Zona Oeste Buenos Aires
    </p>
    <p><a class="btn btn-primary" href="#">Contactar &raquo;</a></p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img
      src="../../../assets/img/cara-feliz.png"
      alt=""
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
    />

    <h2 class="m-2">Lucas.C</h2>
    <p>
      Psicologo especialista en Terapia de Pareja. <br />
      Zona Norte Buenos Aires
    </p>
    <p><a class="btn btn-primary" href="#">Contactar &raquo;</a></p>
  </div>
  <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
