<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Pacientes Ψ</title>
</head>
<body>
  <div class="container" style="text-align: center">
    <h2 style="font-weight: lighter">Registro de Pacientes</h2>
  </div>

  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre" [class.border-danger]="nombre?.invalid && nombre?.touched" />
        <div *ngIf="nombre?.invalid && nombre?.touched">
          <p *ngIf="nombre?.hasError('required')" class="text-danger">
            El nombre es requerido.
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" formControlName="apellido" [class.border-danger]="apellido?.invalid && apellido?.touched" />
        <div *ngIf="apellido?.invalid && apellido?.touched">
          <p *ngIf="apellido?.hasError('required')" class="text-danger">
            El apellido es requerido.
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="dni">DNI</label>
        <input type="text" class="form-control" id="dni" formControlName="dni" [class.border-danger]="dni?.invalid && dni?.touched" />
        <div *ngIf="dni?.invalid && dni?.touched">
          <p *ngIf="dni?.hasError('required')" class="text-danger">
            El DNI es requerido.
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="sexo">Sexo</label>
        <select class="form-control" id="sexo" formControlName="sexo" [class.border-danger]="sexo?.invalid && sexo?.touched">
          <option value="" disabled selected>Seleccione el sexo</option>
          <option value="Femenino">Femenino</option>
          <option value="Masculino">Masculino</option>
        </select>
        <div *ngIf="sexo?.invalid && sexo?.touched">
          <p *ngIf="sexo?.hasError('required')" class="text-danger">
            El sexo es requerido.
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="terapia">Terapia</label>
        <select class="form-control" id="terapia" formControlName="terapiapaciente" [class.border-danger]="terapiapaciente?.invalid && terapiapaciente?.touched">
          <option value="" disabled selected>Seleccione una terapia</option>
          <option *ngFor="let terapia of terapias" [value]="terapia.id">{{ terapia.nombre }}</option>
        </select>
        <div *ngIf="terapiapaciente?.invalid && terapiapaciente?.touched">
          <p *ngIf="terapiapaciente?.hasError('required')" class="text-danger">
            El campo tipo de terapia es requerido.
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="provincia">Provincia</label>
        <input type="text" class="form-control" id="provincia" formControlName="provincia" [class.border-danger]="provincia?.invalid && provincia?.touched" />
        <div *ngIf="provincia?.invalid && provincia?.touched">
          <p *ngIf="provincia?.hasError('required')" class="text-danger">
            La provincia es requerida.
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="localidad">Localidad</label>
        <input type="text" class="form-control" id="localidad" formControlName="localidad" [class.border-danger]="localidad?.invalid && localidad?.touched" />
        <div *ngIf="localidad?.invalid && localidad?.touched">
          <p *ngIf="localidad?.hasError('required')" class="text-danger">
            La localidad es requerida.
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" id="telefono" formControlName="telefono" [class.border-danger]="telefono?.invalid && telefono?.touched" />
        <div *ngIf="telefono?.invalid && telefono?.touched">
          <p *ngIf="telefono?.hasError('required')" class="text-danger">
            El teléfono es requerido.
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" [class.border-danger]="email?.invalid && email?.touched" />
        <div *ngIf="email?.invalid && email?.touched">
          <p *ngIf="email?.hasError('required')" class="text-danger">
            El email es requerido.
          </p>
          <p *ngIf="email?.hasError('email')" class="text-danger">
            El email ingresado no es válido.
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="password" [class.border-danger]="password?.invalid && password?.touched" />
        <div *ngIf="password?.invalid && password?.touched">
          <p *ngIf="password?.hasError('required')" class="text-danger">
            La contraseña es requerida.
          </p>
        </div>
      </div>

      <div class="container" style="text-align: center">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          Registrarse
        </button>
      </div>
    </form>
  </div>
</body>
</html>
