 <!--- Registro Profesional -->
<section id="learn" class="p-3">
                <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md">
                        <img src="../../../assets/img/Questions-pana.svg" class="img-fluid" alt="" />
                    </div>
                    
                    <div class="col-md p-4">
                        <h2 class="text-primary">Registro para profesionales</h2>
                        <p>
                            El registro es exclusivo para profesionales que se encuentren en actividad y
                            cuenten con matricula vigente. Así mismo deberán completar un formulario con
                            sus datos personales. Una vez verificados estos datos te enviaremos un email de activación
                            de tu cuenta para que puedas crear tu clave de acceso en nuestra web dentro de las 48/72hs hábiles.
                            Te sugerimos revisar tu casilla de correo no deseado o SPAM. Si estás de acuerdo con estas
                            condiciones, te invitamos a pre-registrarte a continuación.
                        </p>
                        <a href="#" class="btn btn-primary mt-3">
                            <i class="bi bi-chevron-right"></i> Más Info
                        </a>
                    </div>
                </div>
        </div>